/* src/components/styles/cart.css */

#cart {
    padding: 40px 20px;
    background-color: #fff;
    margin-top: 20px;
  }
  
  #cart h2 {
    font-size: 2rem;
    text-align: center;
  }
  
  #cart ul {
    list-style-type: none;
    padding: 0;
  }
  
  #cart li {
    font-size: 1rem;
    margin: 10px 0;
  }
  
  #cart h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff6f61;
    text-align: center;
  }
  