.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #111;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  height: 50px;
  margin-right: 10px;
}

.header-left h1 {
  color: white;
  font-size: 1.6rem;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  color: #ffcc00;
}
